<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Returns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true" showCancelButton= "focus" ></ion-searchbar>
  </ion-toolbar>
  <br>

  <ion-card *ngFor="let item of returnedInvoices | filter:filterTerm;let i = index;"  [ngClass]="'available'" (click)="selectInvoice(item)">
    <ion-card-content>{{item.invId}}</ion-card-content>
  </ion-card>

</ion-content>
